<?xml version="1.0" ?>
<launch>

  <!-- base driver (arduino) kinematics, cmd_vel, odom -->
  <include file="$(find osoyoo_diff_drive)/launch/base_driver.launch"/>

  <!-- teleoperation with space mouse -->
  <!--include file="$(find pablowsky_teleop)/launch/space_mouse_teleop.launch"/-->

  <!-- teleoperation with gamepad -->
  <include file="$(find pablowsky_teleop)/launch/teleop_joypad.launch"/>

  <!-- depth camera driver -->
  <include file="$(find pablowsky_bringup)/launch/includes/xtion_pro.launch"/>

  <!-- web server video transmission -->


</launch>
